# Dependencies
node_modules/
apps/**/node_modules/
packages/**/node_modules/

# Next.js build output
.next/
out/
apps/**/.next/
apps/**/out/

# Env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Prisma local DB files
apps/**/prisma/dev.db
apps/**/prisma/dev.db-journal

# Supabase local files
supabase/.branches/
supabase/.temp/
supabase/.env

# Build artifacts
.turbo/
dist/
coverage/

# Misc
*.log
apps/web.zip
apps/web.zip
